/**
 * Add all your Mixins here.
 */

// Center content
@mixin center {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @include media($tablet) {
    max-width: $tablet-width;
    padding:0 20px;
  }
  @include media($desktop) {
    max-width: $desktop-width;
    position: relative;
    padding: 0;
  }
}

// Default Button
@mixin button {
  @include border-top-radius($base-border-radius);
  @include border-bottom-radius($base-border-radius);
  background: $main-color;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
