/**
 * Variables
 */


// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$title-color: #333;
$text-color: #333;
$link-color: #477dca;
$hover-color: #999;
$main-color: #ddd;
$second-color: #ddd;
$third-color: #ddd;
$border-color: #ddd;
$button-color: #ddd;

// Font Colors
$base-font-color: $text-color;
$action-color: $link-color;

// Border
$base-border-color: $border-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Bourbon grid display. Comment out to remove display.
$visual-grid:       true;
$visual-grid-color: #EEEEEE;

// Set to false if you'd like to remove the responsiveness.
$responsive:    true;

// Setup the column, grid, and gutter amounts.
$column:        60px;
$gutter:        20px;
$grid-columns:  4;

// We set the max width of the page using the px to em function in Bourbon.
// the first value is the pixel value of the width and the second is the base font size of your theme.
// In this instance we want the max width to be 1088px and on Line 6 of style.sass we have reset the base
// font size to 13px so the first value would be 1088 and the second 13
// ex. em(1088, 13)
$font-size: 16px;
$max-width-px: 1088px;
$max-width: em($max-width-px, $font-size);

//Breakpoints
$mobile-width: 320px;
$tablet-width: 720px;
$desktop-width: 960px;
$mobile: new-breakpoint(min-width em($mobile-width, $font-size) 4);
$tablet: new-breakpoint(min-width em($tablet-width, $font-size) 8);
$desktop: new-breakpoint(min-width em($desktop-width, $font-size) 15);
